
<% include header %>
<% include navigation %>

<script>

function editMode(b){
	var elems = document.getElementsByTagName('div'), i;
    for (i in elems) {
        if((' ' + elems[i].className + ' ').indexOf('editBox')
                > -1) {
            elems[i].contentEditable = b;
        }
    }
}


</script>


<div class="container wrapper">
    <div class="row">
	
	<% include sidebar %>
		
        <div class="span9 content">
        	 <div class="banner">
                <h2>User Details</h2>
            </div>
        

	  		<div class="display">
	  			<h3>
	  				<div class="editBox" contentEditable="<%=edit%>"><%=users.first_name%></div>
	  				<div class="editBox" contentEditable="<%=edit%>"><%=users.last_name%></div>
	  			</h3>
	  			<div class="editBox" id="organization" contentEditable="<%=edit%>"><%=users.custom_fields.organization %></div><br/><br/>
	  			<span class="labelEqualizer"><div class="label">Username</div></span><div class="editBox" id="username" contentEditable="<%=edit%>"><%=users.username %></div><br/><br/>
	  			<span class="labelEqualizer"><div class="label">Email</div></span><div class="editBox" id="email" contentEditable="<%=edit%>"><%=users.email %></div><br/><br/>
	  			<span class="labelEqualizer"><div class="label">Role</div></span><div class="editBox" id="role" contentEditable="<%=edit%>"><%=users.role %></div><br/><br/>
	  			<span class="labelEqualizer"><div class="label">Admin</div></span><input type="checkbox" id="admin" checked="<%=users.admin%>"/ style="margin-left: 5px;"><br/>
	  			<br/>
	  			<br/>
	  			<% if(edit === "true") { %>
	  			<a href="users/save" class="btn btn-primary">Save User</a>
	  			<% } %>
	  		</div>
	        
        </div><!--/span9-->
    </div><!--/row-->
    
    <hr>

    <footer>
        <p>&copy; Company 2012</p>
    </footer>
    
</div> <!-- /container wrapper -->


<% include footer %>